.container{
    height: 60px;
    grid-column: 2 /3;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    border-bottom: 20px solid #000000;
}
.newBtn{
    background-color: black;
    color: white;
    padding:  5px 20px 5px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    
}
