.container {
  display: grid;
  grid-template-columns: 250px minmax(0, 1fr);
  min-height: 100vh;
   background: #f8fafc;
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 80px minmax(0, 1fr);
  }
}